.brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.icon {
  font-size: 1.8rem;
}

.dark {
  color: #121212;
}

@media (max-width: 700px) {
  .brand {
    font-size: 1.7rem;
  }
}
