.page {
  background: #f2f2f2;
  color: #121212;
  min-height: 100vh;
}

.container {
  width: min(1320px, calc(100% - 2.5rem));
  margin: 0 auto;
}

.main {
  display: block;
}

@media (max-width: 700px) {
  .container {
    width: calc(100% - 1rem);
  }
}
